name: CI

on: [ "push" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  Test:
    runs-on: "ubuntu-latest"
    steps:
      - name: Check out repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
        with:
          submodules: recursive
          fetch-depth: 0
          persist-credentials: false

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
        with:
          toolchain: stable

      - name: Show CPU info
        run: lscpu

      - name: Test
        run: cargo test --workspace --verbose --all-features --no-fail-fast
